[project]
drom-version = "0.1"

[project]
authors = ["Fabrice Le Fessant <fabrice.le_fessant@ocamlpro.com>"]
ci-systems = ["ubuntu-latest", "macos-latest" ]
copyright = "OCamlPro SAS"
edition = "4.10.0"
github-organization = "ocamlpro"
license = "LGPL2"
min-edition = "4.08.0"
name = "freeton_ocaml_sdk"
synopsis = "The freeton_ocaml_sdk library is a binding over TON-SDK for Free TON"
version = "0.3.1"

# keys that you could also define:
# odoc-target = "...odoc-target..."
# sphinx-target = "...sphinx-target..."
# archive = "...archive..."
# dev-repo = "...dev-repo..."
# bug-reports = "...bug-reports..."
# doc-api = "...doc-api..."
# doc-gen = "...doc-gen..."
# homepage = "...homepage..."

[project]
description = """This project implements an OCaml-Rust binding to the TON-SDK, and a
Graphql client to interact with the node.
"""

[project]
skip = ["sphinx/index.rst", "sphinx/install.rst", "src/freeton_ocaml_sdk/index.mld", "src/freeton_ocaml_sdk/lib.rs"]

# project-wide library dependencies (not for package-specific deps)
[dependencies]

# project-wide tools dependencies (not for package-specific deps)
[tools.ocamlformat]
for-test = true
[tools.odoc]
for-doc = true
[tools.ppx_expect]
for-test = true
[tools.ppx_inline_test]
for-test = true

[project]

# dirs to skip while scanning for dune files
skip-dirs = []

# dirs to scan for share/ folders (with package names)
share-dirs = ["share"]

# build profile to use by default
# build-profile = ...

# Profile options for this project
#    [profile]
#    dev = { ocaml-flags = "-w +a-4-40-41-42-44" }
#    release = { ocaml-flags = "-w -a" }
[profile]
# ...

# project-wide fields (depends on project skeleton)
[fields]
dot-gitignore-trailer = """# commit Cargo.lock in the repository to force same versions
# Cargo.lock
"""

[[package]]
dir = "src/freeton_ocaml_sdk"
# edit 'src/freeton_ocaml_sdk/package.toml' for package-specific options

